@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

/* Normalize CSS */

/* Header */
header h1 {
    text-align: center;
}

/* Content */
img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
  }
    
.cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 30em) {
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}


.card {
    display: grid;
}

.card img,
.caption {
    grid-column: 1;
    grid-row: 1;
}

.caption {
    display: flex;
    flex-direction: column;
    opacity: 0;

    /* Alignment */
    /*     align-items: flex-end; */
    /*     justify-content: flex-end; */
}

}

@media screen and (min-width: 60em) {

    .cards {
    grid-template-columns: repeat(4, 1fr);
}

}

:root{
--medium-green: #56CE78;
--light-green: #8EDFA5;
--dark-green: #1DBE4B;
--medium-brown: #B98353;
--light-brown: #D0AC8C;
--dark-brown: #A25919;
--dark-yellow: #E0D253;
--medium-yellow: #E8DD7E;
--light-yellow: #EFE8A9;
}

#zelda-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: var(--medium-green);
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--light-brown);
    border: 4px solid var(--medium-yellow);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

figure:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

figure:active {
    background-color: var(--medium-yellow);
}

body{
  font-family: 'Merriweather', serif;
}

figcaption {
    font-family: 'Lora', serif;
    font-style: italic;
    margin-top: 10px;
}

h2{
  font-family: 'Tagesschrift', sans-serif;
  color: var(--dark-brown);
}