---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../layouts/SiteHeader.astro';
import ZeldaGames from '../components/ZeldaGames.astro';
import '../styles/global.css';
---

<BaseLayout>
  <SiteHeader />
  <main>
    <h1>Welcome to the Zelda Games Database</h1>
    <ZeldaGames />
  </main>
</BaseLayout>